*{
    padding:0;
    margin: 0;
}

.dark{
    background: rgb(32, 32, 32);
}

header h1{
    width:auto;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    position:static;
}

header{
    font-family: 'Carattere', cursive;
    height: auto;
    text-align:center;
    width:100%;
    color:white;
    background:black;
    position:sticky;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

section.lista_tareas{
    padding-top:10px;
    display: block;
}

.insertar{
    position:relative;
    padding-top:20px;
    width:100%;
    display:flex;
    justify-content: center;
}
section ul.tareas li{
    display: flex;
}
section ul.tareas .task_description{
    width:350px;
    height: auto;
    font-size: 25px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    padding:5px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    font-size:20px;    
    color:white;
    background: rgba(18, 166, 185, 0.788);
    margin-bottom: 10px;
}
.quitar{
    width:35px;
    height: 35px;
    margin-left: 2px;
    color:white;
    background:black;
    border-radius: 50%;
}

.task{
    justify-content: center;
}

section ul.tareas{
    min-height: 200px;
    max-height: auto;
    width:85%;
    padding:5px;
    padding-top:15px;
    padding-bottom:15px;
    position:relative;
    height: auto;
    color:black;
    background: rgb(0, 0, 0);
    display: block;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.295) -10px 9px 17px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 1s;
}

section ul.tareas:hover{
    background: rgba(6, 12, 12, 0.932);
    transition-duration: 1s;
}

.delete_space{
    margin-top: 15px;
    display: block;
    text-align: center;
}
.deleteXD{
    width:55px;
    height: 55px;
    margin-left: 2px;
    color:white;
    background:rgba(10, 124, 133, 0.829);
    border-radius: 50%;
}

.modoXD{
    width:55px;
    height: 55px;
    margin-left: 2px;
    color:white;
    background:rgba(0, 0, 0, 0.986);
    border-radius: 50%;
}

.agregar{
    width:45px;
    height: 45px;
    margin-left: 2px;
    color:white;
    background:black;
    border-radius: 50%;
}

.rec_logo{
    text-align: center;
    margin-top: 20px;
}


body{
    position: absolute;
    top:0;
    bottom: 0;
    width:100%;
    background: #e6e3e0;
    min-height: 100vh;

}

.tarea{
    width:350px;
    height: 30px;
    font-size: 25px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    padding:5px;
    color:rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    outline:0;
    text-align: center;
}

footer{
    position:relative;
    width:100%;
    height:auto;
    background: black;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    bottom: 0;
}

footer .enlaces{
    display:inline;
    text-align:center;
    padding-top: 20px;
    list-style-type: none;
    padding-bottom: 50px;
    
}
footer ul.enlaces li a{
    color:white;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}
.icon_ex{
    color:cornsilk;
}

.tarea::placeholder{
    color:rgba(255, 255, 255, 0.658);
    font-size: 25px;
}

@media (max-width: 480px){
    section ul{
        width:70%;
        
    }
    .tarea{
        width:65%;
        
    }
    section ul.tareas .nombre_tarea{
        width:85%;
    }
    
    
    
   
}

@media (max-height: 480px){
    footer{
        position:relative;
    }
}
/*
font-family: 'Birthstone', cursive;
font-family: 'Carattere', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive;

*/